@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Rocker&display=swap');

:root {
  --normal-font: 'Montserrat', sans-serif;
  --game-font: 'New Rocker', cursive;

  --background-color: #14161e;
  --foreground-color: mintcream;

  --primary-color: seagreen;
}

* {
  /* outline: 1px solid red; */
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--normal-font);
}

a {
  color: var(--foreground-color);
}

a:hover {
  color: var(--primary-color);
}

hr {
  border-color: var(--background-color);
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid;
}
