@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

:root {
  --background-color: #3a4750;
  --foreground-color: #eeeeee;
  --highlight-color: #f6c90e;
}

* {
  /* outline: 1px solid red; */
}

head,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  background: var(--background-color);
  color: var(--foreground-color);
  font-family: "Anonymous Pro";
  font-size: 24px;
}

.container {
  height: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 16px;
  border-radius: 50%;
  border: 4px solid var(--highlight-color);
}

.logo-activated {
  margin: 16px;
  border-radius: 50%;
  border: 4px solid var(--highlight-color);

  animation: logo-activated 3s infinite linear;
}

@keyframes logo-activated {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-links {
  margin: 32px;
}

.icon-link {
  margin: 16px;
}

.icon {
  color: var(--foreground-color);
  transition: all 0.1s ease-in;
}

.icon:hover {
  color: var(--highlight-color);
  transform: translate(0px, -3px);
}

.icon-link:nth-child(odd) > .icon-activated {
  animation: icon-activated-odd 1s infinite ease-in-out alternate;
}

.icon-link:nth-child(even) > .icon-activated {
  animation: icon-activated-even 1s infinite ease-in-out alternate;
}

@keyframes icon-activated-odd {
  0% {
    color: var(--foreground-color);
    transform: translate(0px, 3px);
  }
  100% {
    color: var(--highlight-color);
    transform: translate(0px, -3px);
  }
}

@keyframes icon-activated-even {
  0% {
    color: var(--highlight-color);
    transform: translate(0px, -3px);
  }
  100% {
    color: var(--foreground-color);
    transform: translate(0px, 3px);
  }
}
